= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this sip_user from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.fields_for :city do |city_form|
      = city_form.label :number
      = city_form.text_field :number
  .field
    = f.fields_for :sip_user do |sip_user_form|
      = sip_user_form.label :name
      = sip_user_form.text_field :name
      .field
        = sip_user_form.label :callerid
        = sip_user_form.text_field :callerid
      .field
        = sip_user_form.label :username
        = sip_user_form.text_field :username
      .field
        = sip_user_form.label :mailbox
        = sip_user_form.text_field :mailbox
  .field
    = f.fields_for :positions do |position|
      =render "position_fields", :f => position
    .btn=link_to_add_fields "Добавить должность", f, :positions
  .actions
    = f.submit nil, class: 'btn btn-primary'
